<!-- ======================================================= -->
<!-- Page Formulaire (Pour se connecter) -->
<!-- ======================================================= -->



<!DOCTYPE html>
<html lang="en">

<html>


<head>
    <link rel="stylesheet" href="../css/style.css">
    <title> Nylas </title>
</head>



<!-- ======================================================= -->
<!-- Barre de navigation entre les pages : -->
<!-- ======================================================= -->



<body>
    <header>
        <div class="principale">
            <div id="logo">
                <a id="logo" href="/"> <span id="logo">N</span>ylas</a>
            </div>
            <ul class="navbar">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/nosproduits">Nos produits</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/formulaire">Se connecter/s'inscrire</a>
                </li>
                <li>
                    <a href="/nouscontacter">Nous contacter</a>
                </li>
            </ul>
        </div>
    </header>

    <head>
        <meta charset="utf-8">
        <title> Formulaire </title>
        <link rel="stylesheet" href="../css/style.css">

    </head>



    <!-- ======================================================= -->
    <!-- Code : -->
    <!-- ======================================================= -->



    <body>

        <div class="login-banner">
            <h1 class="page title">
                Mon compte
            </h1>
        </div>

        </head>

        <body>

            <div class="form-structor">
                <div class="signup">
                    <h2 class="form-title" id="signup"><span></span> S'inscrire</h2>
                    <div class="form-holder">
                        <div class="box1">
                            <input type="text" class="input" placeholder="Nom" />
                        </div>
                        <div class="box2">
                            <input type="email" class="input" placeholder="Email" />
                        </div>
                        <div class="box3">
                            <input type="password" class="input" placeholder="mot de passe" />
                        </div>
                    </div>
                    <div class="sinscrire-bouton">
                        <button class="submit-btn">S'inscrire</button>
                    </div>
                </div>
                <div class="login slide-up">
                    <div class="center">
                        <h2 class="form-title" id="login"><span></span> Se connecter</h2>
                        <div class="form-holder">
                            <div class="box4">
                                <input type="email" class="input" placeholder="Email" />
                            </div>
                            <div class="box5">
                                <input type="password" class="input" placeholder="mot de passe" />
                            </div>
                        </div>
                        <div class="connecter-bouton"> <button class="submit-btn">Se connecter</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ======================================================= -->
            <!-- Footer : -->
            <!-- ======================================================= -->



            <footer>
                <div class="login-banner">
                    </h1>
                    <div class="fin-page1">
                        <ul class="finbar-page1">
                            <li>
                                <a href="/nouscontacter">Nous contacter</a>
                            </li>
                            <li>
                                <a href="#">Notre Newsletters</a>
                            </li>
                            <li>
                                <a href="/formulaire">Rejoignez-nous</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            </main>
        </body>

</html>



<!-- ======================================================= -->
<!-- Fin :) -->
<!-- ======================================================= -->