<!-- ======================================================= -->
<!-- Page Index (Accueil) -->
<!-- ======================================================= -->



<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <title> Nylas </title>
</head>



<!-- ======================================================= -->
<!-- Barre de navigation entre les pages : -->
<!-- ======================================================= -->



<body>

    <header>
        <div class="principale">
            <div id="logo">
                <a id="logo" href="/"> <span id="logo">N</span>ylas</a>
            </div>
            <ul class="navbar">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/nosproduits">Nos produits</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/formulaire">Se connecter/s'inscrire</a>
                </li>
                <li>
                    <a href="/nouscontacter">Nous contacter</a>
                </li>
            </ul>
        </div>
    </header>



    <!-- ======================================================= -->
    <!-- Code : -->
    <!-- ======================================================= -->



    <div class="contenu">
        <img src="./image/workspace2-gfaf1a8a5f_1920.jpg" alt="portable" width="1000" height="300">
        <h2 class="topleft"> Nylas, la technologie de la génération Z</h2>
    </div>

    <div class="nouveaute">
        <h3> Nouveautés </h3>
    </div>

    <section class="Services">

        <div class="telephone">
            <a href="/nostelephones">
                <img src="./asset/NylasN17.png" width="10" height="100">
                <p class="text-telephone"> Ne ratez pas le nouveau: Nylas N17</p>
            </a>
        </div>

        <div class="tablette-montre">
            <div class="tablette-montre">
                <div class="tablette">
                    <a href="/nostablettes">
                        <img src="./asset/NylbookY4.png" width="10" height="100">
                        <p class="text-tablette"> Nylbook Y4 </p>
                    </a>
                </div>
                <div class="montre">
                    <a href="/nosmontres">
                        <img src="./asset/NylWatchS12.png" width="10" height="100">
                        <p class="text-montre"> NylWatch S12 </p>
                    </a>
                </div>

            </div>
        </div>
    </section>



    <!-- ======================================================= -->
    <!-- Footer : -->
    <!-- ======================================================= -->



    <footer>
        <div class="login-banner">
            <div class="fin">
                <ul class="finbar">
                    <li>
                        <a href="/nouscontacter">Nous contacter</a>
                    </li>
                    <li>
                        <a href="#">Notre Newsletters</a>
                    </li>
                    <li>
                        <a href="/formulaire">Rejoignez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="arrowIndex">
        <a href="#" title="Back to Top"><img class="span" src="svg/chevron-up-outline.svg" alt="Flechetop" /></a>
    </div>

</body>

</html>



<!-- ======================================================= -->
<!-- Fin :) -->
<!-- ======================================================= -->