<!-- ======================================================= -->
<!-- Page Nos produits (liste tous les produits disponibles) -->
<!-- ======================================================= -->



<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <title> Nylas </title>
</head>



<!-- ======================================================= -->
<!-- Barre de navigation entre les pages : -->
<!-- ======================================================= -->



<body>
    <header>
        <div class="principale">
            <div id="logo">
                <a id="logo" href="/"> <span id="logo">N</span>ylas</a>
            </div>
            <ul class="navbar">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/nosproduits">Nos produits</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/formulaire">Se connecter/s'inscrire</a>
                </li>
                <li>
                    <a href="/nouscontacter">Nous contacter</a>
                </li>
            </ul>
        </div>
    </header>



    <div class="login-banner">
        <h1 class="page title">
            Nos Produits
        </h1>
    </div>





    <!-- ======================================================= -->
    <!-- Code : -->
    <!-- ======================================================= -->



    <div class="liste-produits">
        <div class="produit">
            <a href="/nostablettes">
                <h3>Ordinateurs</h3>
                <img src="../asset/NylbookY4.png" alt="Tablette">
                </br></br>
                <p class="ptablette">Nylbook Y4</p>
                <button>Allez voir</button>
            </a>
        </div>

        <div class="produit">
            <a href="/nosmontres">
                <h3>Montres</h3>
                <img src="../asset/NylWatchS12.png" alt="Montre">
                </br></br></br>
                <p class="pmontre">NylWatch S12</p>
                <button>Allez voir</button>
            </a>
        </div>

        <div class="produit">
            <a href="/nostelephones">
                <h3>Téléphones</h3>
                <img src="../asset/NylasN17.png" alt="Téléphone">
                <p>Nylas N17</p>
                <button>Allez voir</button>
            </a>
        </div>
    </div>




    <!-- ======================================================= -->
    <!-- Footer : -->
    <!-- ======================================================= -->



    <footer>
        <div class="login-banner">
            </h1>
            <div class="fin">
                <ul class="finbar">
                    <li>
                        <a href="/nouscontacter">Nous contacter</a>
                    </li>
                    <li>
                        <a href="#">Notre Newsletters</a>
                    </li>
                    <li>
                        <a href="/formulaire">Rejoignez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="arrowProduits">
        <a href="#" title="Back to Top"><img class="span" src="../svg/chevron-up-outline.svg" alt="Flechetop" /></a>
    </div>
</body>

</html>



<!-- ======================================================= -->
<!-- Fin :) -->
<!-- ======================================================= -->