<!-- ======================================================= -->
<!-- Page Nos tablettes (liste les tablettes) -->
<!-- ======================================================= -->



<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <title> Nylas </title>
</head>



<!-- ======================================================= -->
<!-- Barre de navigation entre les pages : -->
<!-- ======================================================= -->



<body>
    <header>
        <div class="principale">
            <div id="logo">
                <a id="logo" href="/"> <span id="logo">N</span>ylas</a>
            </div>
            <ul class="navbar">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/nosproduits">Nos produits</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/formulaire">Se connecter/s'inscrire</a>
                </li>
                <li>
                    <a href="/nouscontacter">Nous contacter</a>
                </li>
            </ul>
        </div>
    </header>



    <!-- ======================================================= -->
    <!-- Code : -->
    <!-- ======================================================= -->



    <body>

        <div class="login-banner">
            <h1 class="page title">
                Nos tablettes
            </h1>
        </div>
        <div class="pascolle">Bon alors ici il devrait y avoir des tablettes mdrrr</div>
    </body>



    <!-- ======================================================= -->
    <!-- Footer : -->
    <!-- ======================================================= -->



    <footer>
        <div class="login-banner">
            </h1>
            <div class="fin">
                <ul class="finbar">
                    <li>
                        <a href="/nouscontacter">Nous contacter</a>
                    </li>
                    <li>
                        <a href="#">Notre Newsletters</a>
                    </li>
                    <li>
                        <a href="/formulaire">Rejoignez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>



<!-- ======================================================= -->
<!-- Fin :) -->
<!-- ======================================================= -->