<!-- ======================================================= -->
<!-- Page Nous contacter -->
<!-- ======================================================= -->



<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <title> Nylas </title>
</head>



<!-- ======================================================= -->
<!-- Barre de navigation entre les pages : -->
<!-- ======================================================= -->



<body>
    <header>
        <div class="principale">
            <div id="logo">
                <a id="logo" href="/"> <span id="logo">N</span>ylas</a>
            </div>
            <ul class="navbar">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/nosproduits">Nos produits</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/formulaire">Se connecter/s'inscrire</a>
                </li>
                <li>
                    <a href="/nouscontacter">Nous contacter</a>
                </li>
            </ul>
        </div>
    </header>

    <body>

        <div class="login-banner">
            <h1 class="page title">
                Nous contacter
            </h1>
        </div>


        </head>



        <!-- ======================================================= -->
        <!-- Code : -->
        <!-- ======================================================= -->



        <body>
            <form>
                <div class="nouscontacter">
                    <label for="name">Votre nom :</label>
                    <input class="input-form" type="text" id="name" name="name">

                    <label for="email">Votre email :</label>
                    <input class="input-form" type="email" id="email" name="email">
                </div>
                <div class="input-container">
                    <label for="subject">Le sujet :</label>
                    <input class="input-form" type="text" id="subject" name="subject">
                </div>
                <div class="input-container">
                    <label for="message">Votre message :</label>
                    <textarea id="message" name="message" rows="5"></textarea>
                </div>
                <button class="button-form" type="submit">Valider</button>
            </form>
        </body>



        <!-- ======================================================= -->
        <!-- Footer : -->
        <!-- ======================================================= -->



        <footer>
            <div class="login-banner">
                </h1>
                <div class="fin">
                    <ul class="finbar">
                        <li>
                            <a href="/nouscontacter">Nous contacter</a>
                        </li>
                        <li>
                            <a href="#">Notre Newsletters</a>
                        </li>
                        <li>
                            <a href="/formulaire">Rejoignez-nous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</body>

</html>



<!-- ======================================================= -->
<!-- Fin :) -->
<!-- ======================================================= -->