<!-- ======================================================= -->
<!-- Page Panier -->
<!-- ======================================================= -->



<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <title> Nylas </title>
</head>



<!-- ======================================================= -->
<!-- Barre de navigation entre les pages : -->
<!-- ======================================================= -->



<body>
    <header>
        <div class="principale">
            <div id="logo">
                <a id="logo" href="/"> <span id="logo">N</span>ylas</a>
            </div>
            <ul class="navbar">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/nosproduits">Nos produits</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/formulaire">Se connecter/s'inscrire</a>
                </li>
                <li>
                    <a href="/nouscontacter">Nous contacter</a>
                </li>
            </ul>
        </div>
    </header>



    <!-- ======================================================= -->
    <!-- Code : -->
    <!-- ======================================================= -->



    <body>

        <div class="login-banner">
            <h1 class="page title">
                Mon Panier
            </h1>
        </div>
        </head>

        <body>
            <div class="panier">
                <h2>Votre panier :</h2>
                </br>
                <ul>
                    <% produits.forEach((produit)=> { %>
                        <li>
                            <%= produit.NAME%> - Prix : <%= produit.price%>€
                        </li>
                        <% }) %>
                </ul>
                <div class="total">
                    Total : <%= price%>€
                </div>
                <button>Passer commande</button>
            </div>
        </body>



        <!-- ======================================================= -->
        <!-- Footer : -->
        <!-- ======================================================= -->



        <footer>
            <div class="login-banner">
                </h1>
                <div class="fin">
                    <ul class="finbar">
                        <li>
                            <a href="/nouscontacter">Nous contacter</a>
                        </li>
                        <li>
                            <a href="#">Notre Newsletter</a>
                        </li>
                        <li>
                            <a href="/formulaire">Rejoignez-nous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="arrowIndex">
            <a href="#" title="Back to Top"><img class="span" src="svg/chevron-up-outline.svg" alt="Flechetop" /></a>
        </div>
    </body>
</body>

</html>



<!-- ======================================================= -->
<!-- Fin :) -->
<!-- ======================================================= -->